/* Hovers, transitions and Shadows */
.subscribe-button{
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 36px; /*Remember to adjust automatically without specifying thes. Use "padding' instead*/
  width: 150px;
  border-radius: 2px;
  cursor: pointer;
  vertical-align: top; /*aligns elements by the top margin*/
  margin: right;
  transition: opacity 1s; /*It should take one second for opacity to change smoothly*/
  /* Shadow takes four arguments; the first three
  measured in pixels while the fourth one is the color of the shadow.
  First - how many px to the right?
  second - how many to the bottom?
  third - how many px for opacity? */
  

}

/* Creating hovers */
.subscribe-button:hover{
  /* background-color: green;
  border-radius: 18px; */
  opacity: 0.5; /*Fades off when hovered; 0 means great fade, 1 nnormal*/
  box-shadow: 10px 10px 10px rgba(216, 70, 70, 0.15);
}
/* Creating activation -- What happens when you clicked on the button? */
.subscribe-button:active{
  background-color: blue;
}

/* Any word written before {} is called a CSS Selector. Aselector that has is more specific like a class
and id has higher priority than that of an element */

/* IMAGE PROPERTIES IN CSS */
.thumbnail{
  width: 550px;
  font-size: 130px;
  object-fit: cover; /*can be contain*/
  border-width: 5px;
  border-style: solid; /*Makes the border visible*/
  border-color: red;
  margin-top: 10px;
  margin-left: 100px; /*pushes image to the left*/
}
.thumbnail:hover{
  filter: blur(0);
  cursor: pointer;

}

.search-box{
  width: 300px;
  margin-left: 200px;
  margin-top: 20px;
  height: 25px;
  border-radius: 05px;
}

.search-button{
  background-color: rgb(165, 114, 42);
  height: 30px;
  border-radius: 05px;
}

/* CSS DISPLAY ELEMENT */
.signup-page{
  width: 400px;
  border: solid;
  border-radius: 0px;
  height: 200px;
  margin-top: 30px;
  margin-left: 300px;
  margin-bottom: 100px;
  border-color: white;

}
.signup-firstname{
  width: 120px;
  margin-right: 70px;
  margin-bottom: 20px;
  height: 20px;
  margin-top: 25px;
  margin-left: 10px;
}
.signup-lastname{
  width: 120px;
  margin-bottom: 20px;
  height: 20px;
}
.signup-email{
  width: 370px;
  margin-right: 70px;
  margin-top: 20px;
  height: 20px;
  margin-left: 10px;
  
}
.signup-button{
  background-color: rgb(195, 169, 37);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 135px;
  margin-top: 30px;
  border-color: rgb(195, 169, 37);
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 10px;
  cursor: pointer;

}